@charset "utf-8";

$color-bg:#FEF8EC;
$color-main:#3A5065;
$color-sub:#E7D5AD;
$color-black:#000000;
$color-charcoal:#383838;
$color-gray:#D3D3D3;
$color-white:#FFFFFF;

$img-url:"../images";

$inner:1200px;

$tablet:909px;
$mobile:670px;

$input-size:47px;

$font-lora:"Lora",serif;
$font-roboto:"Roboto",sans-serif;

$font-regular:400;
$font-medium:500;
$font-bold:700;
$font-black:900;

$txt-font-size-14: 1.4rem;
$txt-font-size-16: 1.6rem;
$txt-font-size-18: 1.8rem;
$txt-font-size-20: 2rem;
$txt-font-size-24: 2.4rem;
$txt-font-size-26: 2.6rem;
$txt-font-size-32: 3.2rem;
$txt-font-size-40: 4rem;
$txt-font-size-50: 5rem;
$txt-font-size-70: 7rem;
$txt-font-size-90: 9rem;